{% extends 'emmsa/plantilla-interna.twig' %}

{% block seccionContenido %}
<div class="col-md-9 col-sm-12 m-b-50">
								<div class="row">
									<div class="col-lg-4 col-md-6 card-container">
										<div class="product-container">
											<div class="left-block item-img">
												<div class="product-image-container ">
													<a class="product-img-link" href="blog-detail.html" title="">
														<img src="{{base_url()}}/emmsa/img\blog\blog1.png" alt="img" class="w-100 image-effect">
													</a>
												</div>
											</div>

											<div class="right-block">
												<div class="product-box text-center">
													<div class="meta-cat">
														<span>
															<a href="blog-category-grid-sidebar.html">Smoothie</a>
														</span>
													</div>
													<h4 class="name-blog">
														<a href="blog-detail.html" class="title-black">Broad bean and goats’ cheese</a>
													</h4>
													<ul class="article-info">
														<li>
															<a href="#">July 24, 2017</a>
														</li>
														<li>
															<a href="#">0 Comments</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-4 col-md-6 card-container">
										<div class="product-container">
											<div class="left-block item-img">
												<div class="product-image-container">
													<a class="product-img-link" href="blog-detail.html" title="">
														<img src="{{base_url()}}/emmsa/img\blog\blog2.png" alt="img" class="w-100 image-effect">
													</a>
												</div>
											</div>

											<div class="right-block">
												<div class="product-box text-center">
													<div class="meta-cat">
														<span>
															<a href="blog-category-grid-sidebar.html">Smoothie</a>
														</span>
													</div>
													<h4 class="name-blog">
														<a href="blog-detail.html" class="title-black">Tomato: Nature’s Sweet Summer Treat</a>
													</h4>
													<ul class="article-info">
														<li>
															<a href="#">July 24, 2017</a>
														</li>
														<li>
															<a href="#">0 Comments</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-4 col-md-6 card-container">
										<div class="product-container">
											<div class="left-block item-img">
												<div class="product-image-container ">
													<a class="product-img-link" href="blog-detail.html" title="">
														<img src="{{base_url()}}/emmsa/img\blog\blog3.png" alt="img" class="w-100 image-effect">
													</a>
												</div>
											</div>

											<div class="right-block">
												<div class="product-box text-center">
													<div class="meta-cat">
														<span>
															<a href="blog-category-grid-sidebar.html">Smoothie</a>
														</span>
													</div>
													<h4 class="name-blog">
														<a href="blog-detail.html" class="title-black">Broad bean and goats’ cheese</a>
													</h4>
													<ul class="article-info">
														<li>
															<a href="#">July 24, 2017</a>
														</li>
														<li>
															<a href="#">0 Comments</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-4 col-md-6 card-container">
										<div class="product-container">
											<div class="left-block item-img">
												<div class="product-image-container ">
													<a class="product-img-link" href="blog-detail.html" title="">
														<img src="{{base_url()}}/emmsa/img\blog\blog4.png" alt="img" class="w-100 image-effect">
													</a>
												</div>
											</div>

											<div class="right-block">
												<div class="product-box text-center">
													<div class="meta-cat">
														<span>
															<a href="blog-category-grid-sidebar.html">Smoothie</a>
														</span>
													</div>
													<h4 class="name-blog">
														<a href="blog-detail.html" class="title-black">Broad bean and goats’ cheese</a>
													</h4>
													<ul class="article-info">
														<li>
															<a href="#">July 24, 2017</a>
														</li>
														<li>
															<a href="#">0 Comments</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-4 col-md-6 card-container">
										<div class="product-container">
											<div class="left-block item-img">
												<div class="product-image-container">
													<a class="product-img-link" href="blog-detail.html" title="">
														<img src="{{base_url()}}/emmsa/img\blog\blog5.png" alt="img" class="w-100 image-effect">
													</a>
												</div>
											</div>

											<div class="right-block">
												<div class="product-box text-center">
													<div class="meta-cat">
														<span>
															<a href="blog-category-grid-sidebar.html">Smoothie</a>
														</span>
													</div>
													<h4 class="name-blog">
														<a href="blog-detail.html" class="title-black">Tomato: Nature’s Sweet Summer Treat</a>
													</h4>
													<ul class="article-info">
														<li>
															<a href="#">July 24, 2017</a>
														</li>
														<li>
															<a href="#">0 Comments</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-4 col-md-6 card-container">
										<div class="product-container">
											<div class="left-block item-img">
												<div class="product-image-container ">
													<a class="product-img-link" href="blog-detail.html" title="">
														<img src="{{base_url()}}/emmsa/img\blog\blog6.png" alt="img" class="w-100 image-effect">
													</a>
												</div>
											</div>

											<div class="right-block">
												<div class="product-box text-center">
													<div class="meta-cat">
														<span>
															<a href="blog-category-grid-sidebar.html">Smoothie</a>
														</span>
													</div>
													<h4 class="name-blog">
														<a href="blog-detail.html" class="title-black">Broad bean and goats’ cheese</a>
													</h4>
													<ul class="article-info">
														<li>
															<a href="#">July 24, 2017</a>
														</li>
														<li>
															<a href="#">0 Comments</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-4 col-md-6 card-container">
										<div class="product-container">
											<div class="left-block item-img">
												<div class="product-image-container">
													<a class="product-img-link" href="blog-detail.html" title="">
														<img src="{{base_url()}}/emmsa/img\blog\blog7.png" alt="img" class="w-100 image-effect">
													</a>
												</div>
											</div>

											<div class="right-block">
												<div class="product-box text-center">
													<div class="meta-cat">
														<span>
															<a href="blog-category-grid-sidebar.html">Smoothie</a>
														</span>
													</div>
													<h4 class="name-blog">
														<a href="blog-detail.html" class="title-black">Tomato: Nature’s Sweet Summer Treat</a>
													</h4>
													<ul class="article-info">
														<li>
															<a href="#">July 24, 2017</a>
														</li>
														<li>
															<a href="#">0 Comments</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-4 col-md-6 card-container">
										<div class="product-container">
											<div class="left-block item-img">
												<div class="product-image-container ">
													<a class="product-img-link" href="blog-detail.html" title="">
														<img src="{{base_url()}}/emmsa/img\blog\blog8.png" alt="img" class="w-100 image-effect">
													</a>
												</div>
											</div>

											<div class="right-block">
												<div class="product-box text-center">
													<div class="meta-cat">
														<span>
															<a href="blog-category-grid-sidebar.html">Smoothie</a>
														</span>
													</div>
													<h4 class="name-blog">
														<a href="blog-detail.html" class="title-black">Broad bean and goats’ cheese</a>
													</h4>
													<ul class="article-info">
														<li>
															<a href="#">July 24, 2017</a>
														</li>
														<li>
															<a href="#">0 Comments</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-4 col-md-6 card-container">
										<div class="product-container">
											<div class="left-block item-img">
												<div class="product-image-container">
													<a class="product-img-link" href="blog-detail.html" title="">
														<img src="{{base_url()}}/emmsa/img\blog\blog9.png" alt="img" class="w-100 image-effect">
													</a>
												</div>
											</div>

											<div class="right-block">
												<div class="product-box text-center">
													<div class="meta-cat">
														<span>
															<a href="blog-category-grid-sidebar.html">Smoothie</a>
														</span>
													</div>
													<h4 class="name-blog">
														<a href="blog-detail.html" class="title-black">Tomato: Nature’s Sweet Summer Treat</a>
													</h4>
													<ul class="article-info">
														<li>
															<a href="#">July 24, 2017</a>
														</li>
														<li>
															<a href="#">0 Comments</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="page-pagination clearfix text-center">
									<a class="page-numbers" href="#">
										<i class="fa fa-long-arrow-left"></i>
									</a>
									<a class="page-numbers active" href="#">1</a>
									<a class="page-numbers" href="#">2</a>
									<a class="page-numbers" href="#">3</a>
									<a class="page-numbers" href="#">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>        
{% endblock %}

{% block seccionOpciones %}   
   <div class="col-md-3 col-sm-12">
								<div class="sidebar sidebar-collection">
									<!-- Categories -->
									<div class="sidebar-block">
										<div class="sub-title">
											<h4>Entidades</h4>
										</div>

										<div class="block-content">
											<div class="cateTitle has-sub-category open level1">
												<span class="arrow collapse-icons collapsed" data-toggle="collapse" data-target="#livingroom" aria-expanded="false" role="status">
													<i class="fa fa-angle-down"></i>
													<i class="fa fa-angle-right"></i>
												</span>
												<a class="cateItem" href="#">Vegetables</a>
												<div class="subCategory collapse" id="livingroom" aria-expanded="true" role="status">
													<div class="cateTitle">
														<a href="#" class="cateItem">Purple Cabbage</a>
													</div>
													<div class="cateTitle">
														<a href="#" class="cateItem">Organic Mushroom</a>
													</div>
													<div class="cateTitle">
														<a href="#" class="cateItem">Fresh Tomatoes</a>
													</div>
												</div>
											</div>

											<div class="cateTitle has-sub-category open level1">
												<span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#bathroom" aria-expanded="false" role="status">
													<i class="fa fa-angle-down"></i>
													<i class="fa fa-angle-right"></i>
												</span>
												<a class="cateItem" href="#">Juice</a>
												<div class="subCategory collapse" id="bathroom" aria-expanded="false" role="status">
													<div class="cateTitle">
														<a href="#" class="cateItem">Green Detox Drink</a>
													</div>
													<div class="cateTitle">
														<a href="#" class="cateItem">Simple Kiwi Juice</a>
													</div>
													<div class="cateTitle">
														<a href="#" class="cateItem">Cucumber Juice</a>
													</div>
												</div>
											</div>

											<div class="cateTitle has-sub-category open level1">
												<span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#diningroom" aria-expanded="false" role="status">
													<i class="fa fa-angle-down"></i>
													<i class="fa fa-angle-right"></i>
												</span>
												<a class="cateItem" href="#">Meat</a>
												<div class="subCategory collapse" id="diningroom" aria-expanded="true" role="status">
													<div class="cateTitle">
														<a href="#" class="cateItem">Osso Buco</a>
													</div>
													<div class="cateTitle">
														<a href="#" class="cateItem">Organic Beef Sausages</a>
													</div>
													<div class="cateTitle">
														<a href="#" class="cateItem">Raw Chicken</a>
													</div>
												</div>
											</div>

											<div class="cateTitle has-sub-category open level1">
												<span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#bedroom" aria-expanded="false" role="status">
													<i class="fa fa-angle-down"></i>
													<i class="fa fa-angle-right"></i>
												</span>
												<a class="cateItem" href="#">Smoothie</a>
												<div class="subCategory collapse" id="bedroom" aria-expanded="true" role="status">
													<div class="cateTitle">
														<a href="#" class="cateItem">Orange Juices</a>
													</div>
													<div class="cateTitle">
														<a href="#" class="cateItem">Tomato Juices</a>
													</div>
													<div class="cateTitle">
														<a href="#" class="cateItem">Apple Juices</a>
													</div>
												</div>
											</div>

											<div class="cateTitle has-sub-category open level1">
												<span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#kitchen" aria-expanded="false" role="status">
													<i class="fa fa-angle-down"></i>
													<i class="fa fa-angle-right"></i>
												</span>
												<a class="cateItem" href="#">Teas</a>
												<div class="subCategory collapse" id="kitchen" aria-expanded="true" role="status">
													<div class="cateTitle">
														<a href="#" class="cateItem">Orange Juices</a>
													</div>
													<div class="cateTitle">
														<a href="#" class="cateItem">Tomato Juices</a>
													</div>
													<div class="cateTitle">
														<a href="#" class="cateItem">Apple Juices</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>      
{% endblock %}