        <header>
            <div class="header-banner">
                <div class="assetBlock">
                    <div id="slideshow">
                        <p>
                            ¡Ofertas especiales! - Obtenga <span>50%</span> de descuento en vegetales </p>
                        <p>Ventas <span>40%</span> de descuento por compras al por mayor! </p>
                    </div>
                </div>
            </div>

            <div id="header">
            
                                    
                <div class="container">
                    <div class="header-container row">
                        <div class="logo">
                            <a href="{{base_url()}}/" title="index">
                                <div><img src="{{base_url()}}/emmsa/images/logo.png" alt="logo"></div>
                            </a>
                        </div>
                        <div class="fl-nav-menu">
                            <nav>
                                <div class="mm-toggle-wrap">
                                    <div class="mm-toggle"><i class="icon-align-justify"></i><span class="mm-label">Menu</span> </div>
                                </div>
                                <div class="nav-inner">
                                    <!-- BEGIN NAV -->
                                    <div class="titulo-home">Gran Mercado Mayorista de Lima</div>
                                    <ul id="nav" class="hidden-xs">

                                        <li> <a class="level-top" href="{{base_url()}}/"><span>Inicio</span></a></li>
                                        <li class="level0 parent drop-menu"><a href="{{base_url()}}/nuestra-organizacion"><span>Nosotros</span> </a>
                                            <!--sub sub category-->
                                            <ul class="level1">
                                                <li class="level1 first"><a href="{{base_url()}}/nuestra-organizacion/historia"><span>Historia</span></a></li>
                                                <li class="level1 nav-10-2">
                                                    <a href="{{base_url()}}/nuestra-organizacion/mision-vision-y-valores"> <span>Misión, Visión y Valores</span> </a>
                                                </li>
                                                <li class="level1 nav-10-3">
                                                    <a href="{{base_url()}}/nuestra-organizacion/estructura-organica"> <span>Estructura Orgánica</span> </a>
                                                </li>
                                                <li class="level1 nav-10-4">
                                                    <a href="{{base_url()}}/nuestra-organizacion/organigrama"> <span>Organigrama</span> </a>
                                                </li>
                                               
                                            </ul>
                                        </li>
                                        <li > <a class="level-top" href="{{base_url()}}/noticias"><span>Noticias</span></a>
                                            
                                        </li>
                                       <li class="level0 parent drop-menu"><a href="#"><span>Estadística</span> </a>
                                            <!--sub sub category-->
                                            <ul class="level1">
                                                <li class="level1 first"><a href="{{base_url()}}/estadistica/volumen-precios"><span>Volumen y Precios Diarios</span></a></li>
                                                <li class="level1 nav-10-2">
                                                    <a href="{{base_url()}}/estadistica/ingreso-giro"> <span>Porcentaje de Ingreso por Giro</span> </a>
                                                </li>
                                                <li class="level1 nav-10-3">
                                                    <a href="{{base_url()}}/estadistica/historico-volumen"> <span>Serie Histórica por Volumen</span> </a>
                                                </li>
                                                <li class="level1 nav-10-4">
                                                    <a href="{{base_url()}}/estadistica/historico-procedencia"> <span>Serie Histórica Por Procedencias</span> </a>
                                                </li>
                                                <li class="level1 nav-10-4">
                                                    <a href="{{base_url()}}/estadistica/variacion-producto"> <span>Variacion de Productos por Procedencia</span> </a>
                                                </li>
                                                <li class="level1 nav-10-4">
                                                    <a href="{{base_url()}}/publicaciones"> <span>Publicaciones</span> </a>
                                                </li>
                                               
                                            </ul>
                                        </li>
                                        <li> <a class="level-top" href="{{base_url()}}/sistema-de-control-interno"><span>Sist. de Control Interno</span></a>

                                        </li>
                                        <!--   <li class="mega-menu"> <a class="level-top" href="grid.html"><span>Normas</span></a> </li>
                                        <li class="mega-menu"> <a class="level-top" href="grid.html"><span>Meats</span></a> </li>
 -->
                                        <li> <a class="level-top" href="{{base_url()}}/productos"><span>Productos</span></a></li>
                                     

                                        <li> <a class="level-top" href="{{base_url()}}/normas"><span>Normas</span></a>

                                        </li>
                                        <li> <a class="level-top" href="{{base_url()}}/contactenos"><span>Contáctenos</span></a>

                                        </li>
                                        

                                    </ul>
                                    <!--nav-->
                                </div>
                            </nav>
                        </div>

                        <!--row-->

                        <div class="fl-header-right">
                            <div class="fl-links">
                                <div class="no-js">
                                    <a title="Company" href="{{base_url()}}/transparencia"> <img src="{{base_url()}}/emmsa/images/btn_transparencia_pte.png"/></a>
                                    
                                </div>
                            </div>
                       
                            <!--mini-cart-->
                            <div class="collapse navbar-collapse">
                                <form class="navbar-form" role="search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Buscar">
                                        <span class="input-group-btn">
                  <button type="submit" class="search-btn"> <span class="glyphicon glyphicon-search"> <span class="sr-only">Buscar</span> </span>
                                        </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <!--links-->
                        </div>
                    </div>
                </div>
            </div>
        </header>