<div class="page-heading" style="background-image: url({{base_url()}}/{{parametros.banner}}) !important;">
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
          <li class="home"> <a href="{{base_url()}}/" title="Ir a la página de Inicio">Inicio</a> <span>&rsaquo; </span> </li>
              <li class="category1601"> <a href="#" title="{{parametros.titulo}}">Estadística {{parametros.titulo}}</a>  </li>
          </ul>
        </div>
        <!--col-xs-12--> 
      </div>
      <!--row--> 
    </div>
    <!--container--> 
  </div>
  <div class="page-title">
    <h2>{{parametros.titulo}}</h2>
  </div>
</div>