       
       
       
       <footer>
            <!-- BEGIN INFORMATIVE FOOTER -->
            <div class="footer-inner">
                <div class="newsletter-row">
                    <div class="container">
                        <div class="row">

                            <!-- Footer Newsletter -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col1">
                                <div class="newsletter-wrap">
                                    <h5>Información y consultas</h5>
                                    <h4>Suscríbete y recibe noticias todos los días</h4>
                                    <form action="#" method="post" id="newsletter-validate-detail1">
                                        <div id="container_form_news">
                                            <div id="container_form_news2">
                                                <input type="text" name="email" id="newsletter1" title="Sign up for our newsletter" class="input-text required-entry validate-email" placeholder="Ingresa tu dirección de correo">
                                                <button type="submit" title="Suscríbete" class="button subscribe"><span>Suscríbete</span></button>
                                            </div>
                                            <!--container_form_news2-->
                                        </div>
                                        <!--container_form_news-->
                                    </form>
                                </div>
                                <!--newsletter-wrap-->
                            </div>
                        </div>
                    </div>
                    <!--footer-column-last-->
                </div>
                <div class="footer-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="footer-column">
                                    <h4>Enlaces directos</h4>
                                    <ul class="links">
                                        <li><a href="{{base_url()}}" title="How to buy">Inicio</a></li>
                                        <li><a href="{{base_url()}}/nuestra-organizacion" title="FAQs">Nuestra Organización</a></li>
                                        <li><a href="{{base_url()}}/estadistica/volumen-precios" title="Shipment">Estadísticas</a></li>
                                        <li><a href="{{base_url()}}/sistema-de-control-interno" title="">Sistema de Control Interno</a></li>
                                        <li><a href="{{base_url()}}/productos" title="">Productos</a></li>
                                        <li><a href="{{base_url()}}/normas" title="Payment">Normas</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="footer-column">
                                    <h4>Informate</h4>
                                    <ul class="links">
                                        <li><a href="{{base_url()}}/noticias" title="Payment">Noticias</a></li>
                                        <li><a href="{{base_url()}}/noticias/acceso-a-la-informacion-publica" title="">Acceso a la Información Pública</a></li>
                                        <li><a href="{{base_url()}}/subasta-publicas" title="">Subastas Públicas</a></li>
                                        <li><a href="{{base_url()}}/concurso-publico-de-meritos" title="">Concurso Público de Méritos</a></li>
                                        <li><a href="http://www.emmsa.com.pe/images/files_internos/REGLAMENTO_INTERNO_DEL_GMML.pdf" title="" target="_blank">Reglamento Interno</a></li>
                                        <li><a href="{{base_url()}}/notiemmsa" title="">NotiEMMSA</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="footer-column">
                                    <h4>Otros enlaces de interes</h4>
                                    <ul class="links">
                                        <li><a href="http://www.munlima.gob.pe" target="_blank">Municipalidad de Lima</a></li>
                                        <li><a href="https://www.sat.gob.pe"  target="_blank">SAT</a></li>
                                        <li><a href="https://www.gob.pe/mtc"  target="_blank">MTC</a></li>
                                        <li><a href="https://www.gob.pe/minagri" target="_blank">MINAGRI</a></li>
                                        <li><a href="https://www.policia.gob.pe/"  target="_blank">PNP</a></li>
                                        <li><a href="https://www.munisantanita.gob.pe/"  target="_blank">Municipalidad de Santa Anita </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="footer-column">
                                    <h4>Contactenos </h4>
                                    <div class="contacts-info">
                                        <address>
                  <i class="add-icon"></i>Av. La Cultura 808 / Santa Anita<br>
                  Lima, PERÚ<br>
                  </address>
                                        <div class="phone-footer"><i class="phone-icon"></i>+ 01 518-2800</div>
                                        <div class="email-footer"><i class="email-icon"></i><a href="mailto:atencioncliente@emmsa.com.pe">atencioncliente@emmsa.com.pe</a></div>
                                        <div class="libro-footer"><i class="libro-icon"></i><a href="http://www.emmsa.com.pe/images/files_internos/HOJA_DEL_LIBRO_DE_RECLAMACIONES.pdf" title="" target="_blank">Formulario de Reclamaciones</a></div>
                               
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--container-->
            </div>
            <!--footer-inner-->

            <!--footer-middle-->
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="social">
                                <ul>
                                    <li class="fb">
                                        <a href="https://www.facebook.com/EmpresaMunicipaldeMercados" target="_blank"></a>
                                    </li>
                                    <li class="tw">
                                        <a href="https://twitter.com/emmsalima" target="_blank"></a>
                                    </li>
                                    {# <li class="googleplus">
                                        <a href="#"></a>
                                    </li>
                                    <li class="rss">
                                        <a href="#"></a>
                                    </li>
                                    <li class="pintrest">
                                        <a href="#"></a>
                                    </li>
                                    <li class="linkedin">
                                        <a href="#"></a>
                                    </li> #}
                                    <li class="youtube">
                                        <a href="https://www.youtube.com/channel/UCo8evQypJQcn270ppOB6qMg" target="_blank"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12 coppyright"> © {{ "now"|date("Y") }} EMMSA. Todos los derechos reservados. </div>
                        <div class="col-xs-12 col-sm-4">
                            <!-- <div class="payment-accept"> <img src="images\payment-1.png" alt=""> <img src="images\payment-2.png" alt=""> <img src="images\payment-3.png" alt=""> <img src="images\payment-4.png" alt=""> </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <!--footer-bottom-->
            <!-- BEGIN SIMPLE FOOTER -->

        </footer>