{% extends 'plantilla.twig' %}

{% block javascriptAPP %}
	<script src="{{ base_url() }}/js/aplicativo/contenidos/menu_superior.js"></script>
	<script src="{{ base_url() }}/js/aplicativo/inicio.js"></script>
	<script>
		window.onload = function() {
			Acciones('{{acciones|json_encode()|raw()}}');
			Acceso_Acciones('{{acceso_acciones|json_encode()|raw()}}');
			CapturarVariable('{{id_item_modulo}}');
			ListarContenido(1);
			$('#div_tbl_hijo').hide();
			$('#btnAtras').hide();
		};
	</script>
{% endblock %}

{% block contenido %}

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-info">
				<div class="panel-heading" id="titulo_contenido">{{contenido}}</div>
				<!-- ********************************************************************************************************************** -->
				<!-- VISTA MENU SUPERIOR -->
				<div class="panel-wrapper collapse in" aria-expanded="true">
					<div class="panel-body">
						<div id="load"></div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">URL</label>
									<input type="text" name="contenido_url_buscar" id="contenido_url_buscar" class="form-control" onkeypress="Enter(event);">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">TÍTULO</label>
									<input type="text" name="contenido_titulo_buscar" id="contenido_titulo_buscar" class="form-control" onkeypress="Enter(event);">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">FECHA CONTENIDO</label>
									<input type="date" name="contenido_fecha_buscar" id="contenido_fecha_buscar" class="form-control" onchange="Change();">
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label class="control-label">ESTADO PUBLICACIÓN</label>
									<select class="form-control select2" name="contenido_estado_buscar" id="contenido_estado_buscar" style="width: 100%" onchange="Change();">
										<option value="">-- SELECCIONE --</option>
										{% for estado in estado_publicacion.data %}
											<option value="{{estado.idparametro}}" desc="{{estado.nombre_parametro}}">{{estado.nombre_parametro}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						<div class="row" id="div_tbl_padre">
							<div class="table-responsive">
								<table id="tblmenusuperior" class="table toggle-circle table-hover table-MML">
									<caption>
										{% set tmp = 0 %}
										{% for item in acciones.data %}
											{% if item.idaccion == 11 %}
												{% set tmp = 1 %}
											{% endif %}
										{% endfor %}
										{% if tmp == 1 %}
											{% for item in acceso_acciones.data %}
												{% if item.idaccion == 11 %}
													<button class="btn btn-primary btn-sm fa fa-plus" title="Nuevo Contenido" onclick="LimpiarDatosNuevoContenido();">&nbsp;Nuevo Contenido</button>
												{% endif %}
											{% endfor %}
										{% endif %}
									</caption>
									<thead>
										<tr>
											<th data-sort-ignore="true">ID</th>
											<th data-sort-ignore="true">TÍTULO</th>
											<th data-sort-ignore="true">URL</th>
											<th data-sort-ignore="true">FECHA</th>
											<th data-sort-ignore="true">ESTADO</th>
											<th data-sort-ignore="true">ACCIONES</th>
										</tr>
									</thead>
									<tbody>{% block secciontwig %}
{% endblock %}
									</tbody>
								</table>
								<div id="paginador_menusuperior" style="text-align: center;"></div>
							</div>
						</div>
						<!-- **************************** -->
						<div class="row" id="div_tbl_hijo">
							<div class="table-responsive">
								<input type="text" id="idcontenido_padre" hidden="">
								<table id="tblmenusuperior_hijo" class="table toggle-circle table-hover table-MML">
									<caption>
										{% set tmp = 0 %}
										{% for item in acciones.data %}
											{% if item.idaccion == 11 %}
												{% set tmp = 1 %}
											{% endif %}
										{% endfor %}
										{% if tmp == 1 %}
											{% for item in acceso_acciones.data %}
												{% if item.idaccion == 11 %}
													<button class="btn btn-primary btn-sm fa fa-plus" title="Nuevo Contenido" onclick="LimpiarDatosNuevoContenido();">&nbsp;Nuevo Contenido</button>
												{% endif %}
											{% endfor %}
										{% endif %}
										<span class="icon fa fa-arrow-circle-left" id="btnAtras">
											<a href="javascript:void(0)" onclick="Atras()"> Atrás</a>
										</span>
									</caption>
									<thead>
										<tr>
											<th data-sort-ignore="true">ID de</th>
											<th data-sort-ignore="true">TÍTULO</th>
											<th data-sort-ignore="true">URL</th>
											<th data-sort-ignore="true">FECHA</th>
											<th data-sort-ignore="true">ESTADO</th>
											<th data-sort-ignore="true">ACCIONES</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
								<div id="paginador_menusuperior_hijo" style="text-align: center;"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- END VISTA MENU SUPERIOR -->
			</div>
		</div>
	</div>

<!-- MODAL NUEVO CONTENIDO - PADRE -->
	<div class="modal fade" id="mNuevoContenido" role="dialog" aria-labelledby="exampleModalLabel1">
		<div class="modal-dialog modal-MML-xxlg modal-over-plugin" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="exampleModalLabel1">NUEVO CONTENIDO</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">TÍTULO <font color="red">*</font></label>
								<input type="text" name="contenido_titulo_nuevo" id="contenido_titulo_nuevo" class="form-control">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">URL <font color="red">*</font></label>
								<input type="text" name="contenido_url_nuevo" id="contenido_url_nuevo" class="form-control">
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="control-label">ESTADO PUBLICACIÓN <font color="red">*</font></label>
								<select class="form-control select2" name="contenido_estado_nuevo" id="contenido_estado_nuevo" style="width: 100%">
									<option value="">-- SELECCIONE --</option>
									{% for estado in estado_publicacion.data %}
										<option value="{{estado.idparametro}}" desc="{{estado.nombre_parametro}}">{{estado.nombre_parametro}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="control-label">FECHA CONTENIDO <font color="red">*</font></label>
								<input type="date" name="contenido_fecha_nuevo" id="contenido_fecha_nuevo" class="form-control">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">RESUMEN</label>
								<textarea class="textarea_editor form-control" name="contenido_resumen_nuevo" id="contenido_resumen_nuevo"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">CONTENIDO <font color="red">*</font></label>
								<textarea class="textarea_editor form-control" name="contenido_contenido_nuevo" id="contenido_contenido_nuevo"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-info" id="btnGuardarNuevoCotenido">Guardar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

<!-- MODAL NUEVO CONTENIDO - HIJO -->
<!-- 	<div class="modal fade" id="mNuevoContenidoHijo" role="dialog" aria-labelledby="exampleModalLabel1">
		<div class="modal-dialog modal-MML-xxxlg modal-over-plugin" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="exampleModalLabel1">NUEVO CONTENIDO</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">TÍTULO <font color="red">*</font></label>
								<input type="text" name="hijo_titulo_nuevo" id="hijo_titulo_nuevo" class="form-control">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">URL <font color="red">*</font></label>
								<input type="text" name="hijo_url_nuevo" id="hijo_url_nuevo" class="form-control">
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="control-label">ESTADO PUBLICACIÓN <font color="red">*</font></label>
								<select class="form-control select2" name="hijo_estado_nuevo" id="hijo_estado_nuevo" style="width: 100%">
									<option value="">-- SELECCIONE --</option>
									{% for estado in estado_publicacion.data %}
										<option value="{{estado.idparametro}}" desc="{{estado.nombre_parametro}}">{{estado.nombre_parametro}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="control-label">FECHA CONTENIDO <font color="red">*</font></label>
								<input type="date" name="hijo_fecha_nuevo" id="hijo_fecha_nuevo" class="form-control">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">RESUMEN</label>
								<textarea name="hijo_resumen_nuevo" id="hijo_resumen_nuevo" class="form-control"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">CONTENIDO <font color="red">*</font></label>
								<textarea name="hijo_contenido_nuevo" id="hijo_contenido_nuevo" class="form-control"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-info" id="btnGuardarNuevoCotenidoHijo">Guardar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div> -->

<!-- MODAL EDITAR CONTENIDO -->
	<div class="modal fade" id="mEditarContenido" role="dialog" aria-labelledby="exampleModalLabel1">
		<div class="modal-dialog modal-MML-xxlg modal-over-plugin" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="titulo_editar"></h4>
				</div>
				<div class="modal-body">
					<input type="text" id="idcontenido_editar" hidden="">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">TÍTULO <font color="red">*</font></label>
								<input type="text" name="contenido_titulo_editar" id="contenido_titulo_editar" class="form-control">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">URL <font color="red">*</font></label>
								<input type="text" name="contenido_url_editar" id="contenido_url_editar" class="form-control">
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="control-label">ESTADO PUBLICACIÓN <font color="red">*</font></label>
								<select class="form-control select2" name="contenido_estado_editar" id="contenido_estado_editar" style="width: 100%">
									<option value="">-- SELECCIONE --</option>
									{% for estado in estado_publicacion.data %}
										<option value="{{estado.idparametro}}" desc="{{estado.nombre_parametro}}">{{estado.nombre_parametro}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="control-label">FECHA CONTENIDO <font color="red">*</font></label>
								<input type="date" name="contenido_fecha_editar" id="contenido_fecha_editar" class="form-control">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">RESUMEN</label>
								<textarea class="textarea_editor form-control" name="contenido_resumen_editar" id="contenido_resumen_editar"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">CONTENIDO <font color="red">*</font></label>
								<textarea class="textarea_editor form-control" name="contenido_contenido_editar" id="contenido_contenido_editar"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-info" id="btnEditarContenido">Guardar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}